*
{
    margin: 0;
    padding: 0;
}

body
{background: #4568DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #B06AB3, #4568DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.container
{
   background-color: #8EC5FC;
background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 4%;

    margin-left:25vw;
    margin-top: 10%;
    padding: 8%;
    width: 30vw;
    height: 60vh;
    line-height: 40px;
    color: rgba(80, 66, 66, 0.864);
    text-align: center;
    font-size: 1.3rem;
}

#btn , #logout-button
{
    width: 50%;
    padding: 10px;
    height: 4vh;
    border-radius: 4%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(66, 59, 161) 0%, rgb(105, 105, 177) 35%, rgba(0,212,255,1) 100%); 
    border: none;
    font-weight: 600;
}

.box
{
    width: 80%;
    height: 20px;
}

#signup-message
{
    color: rgba(24, 92, 60, 0.982);
    font-size: 1.5rem;
    line-height: 30px;
    
}
#profile-page
{
    font-size: 20px;
    line-height: 30px;
    color: #5d1360;
    padding: 15px;
    text-align: center;
    line-height: 40px;
}

@media only screen and (max-width: 767px)
 {
    .container
    {
       background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 3%;
        margin-left:15vw;
        padding: 2%;
        width: 65vw;
        height:55vh;
        padding: 5%;
        line-height: 30px;
        color: rgba(80, 66, 66, 0.864);
        text-align: center;
    }
    
    #btn , #logout-button
    {
        width: 50%;
        padding: 10px;
        height: 4vh;
        border-radius: 4%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgb(66, 59, 161) 0%, rgb(105, 105, 177) 35%, rgba(0,212,255,1) 100%); 
        border: none;
        font-weight: 600;
    }
    
    .box
    {
        width: 80%;
        height: 20px;
    }
    
    #signup-message
    {
        color: rgba(24, 92, 60, 0.982);
        font-size: 1.5rem;
        line-height: 30px;
        
    }
    #profile-page
    {
        font-size: 20px;
        line-height: 30px;
        color: #5d1360;
        padding: 15px;
        text-align: center;
        line-height: 40px;
    }
  }